# VITE_API_URL sets the frontend API URL
# Choose between localhost and AWS:

# For local development:
VITE_API_URL=http://localhost:8080/api/v1

# For AWS server deployment:
# VITE_API_URL=http://18.216.221.235:8080/api/v1
